<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Expense Tracker</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <div class="container">
            <h1>Add a New Expense</h1>

            <div class="expenseform">
                <form action="/add" method="POST">
                    <div class="form-control">
                        <label>Amount</label>
                        <input type="text" id="amount" name="amount" required>
                    </div>
                    
                    <div class="form-control">
                        <label>Category</label>
                        <select name="category_id" required>
                            <option value="">Select a category</option>
                            <% categories.forEach(category => { %>
                                <option value="<%= category.id %>"><%= category.name %></option>
                            <% }); %>
                        </select>
                    </div>
            
                    <div class="form-control">
                        <label>Date</label>
                        <input type="date" name="date" required>
                    </div>
            
                    <button type="submit">Submit Expenses</button>
                </form>
            </div>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Category</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% expenses.forEach(expense => { %>
                            <tr>
                                <td>$<%= expense.amount %></td>
                                <td><%= expense.category %></td>
                                <td><%= new Date(expense.date).toISOString().split('T')[0] %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        
    </body>
</html>